<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Recommendation System</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Hotel Finder</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hotels">Hotels</a></li>
            </ul>
        </nav>
    </header>
    <main>
