<div class="admin-wrapper">
    <aside class="sidebar">
      <div class="sidebar-toggle">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="sidebar-menu">
        <li><a href="#"><i class="fas fa-hotel"></i> Hotels</a></li>
        <li><a href="#"><i class="fas fa-calendar-check"></i> Bookings</a></li>
        <li><a href="#"><i class="fas fa-city"></i> City</a></li>
        <li><a href="#"><i class="fas fa-map-marker-alt"></i> Area</a></li>
        <li><a href="#"><i class="fas fa-star"></i> Reviews</a></li>
        <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </aside>
