<html>
<head>
<title>Login Form</title>
<link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="h">
<center><br>
<h1>Login Form</h1>
</center>
<div class="f">
<label>Email or Phone</label>
<input type="text" name="email" placeholder="Enter email or phone" required /><br><br>

<label>Password</label>
<input type="password" name="password" placeholder="Enter password" required />
<br><br>
</div>
<center>
<button>Login</button>
<p>Not a member? <a href="/register">SignUp Now</a></p>


</center>
</div>

</body>
</html>